-if (@result==0 || @result==4)
  %h1 Ingreso Autorizado!!
  %h6 El visitante fue autorizado para poder ingresar al residencial.
-else
  -if @result==1
    %h1{:style=>"color:red"} Ingreso No Autorizado!!!
    %h6 El residencial le ha restringido el acceso.
  -else 
    -if (@result==2 || @result==3)
      %h1{:style=>"color:red"} Ingreso No Autorizado!!!
      %h6 La direccion a la que se dirije le ha restringido el acceso.
    -else
      -if @result==5
        %h1{:style=>"color:red"} Ingreso No Autorizado!!!
        %h6 La direccion a la que se dirije no existe.
      -else
        -if @result==6
          %h1{:style=>"color:red"} Salida No Registrada!!!
          %h6 Hubo un problema al intentar marcar la salida, por favor verifique los datos ingresados.
        -else
          %h1 Salida Exitosa
          %h6 El visitante ha abandonado el residencial.